@import "tailwindcss";

:root {
  /* Neutral */
  --neutral-900: #121212;
  --neutral-800: #262626;
  --neutral-700: #3A3A3A;
  --neutral-500: #717178;
  --neutral-400: #949497;
  --neutral-0: #FFF;

  /* Blue */
  --blue-600: #177DFF;
  --blue-400: #4CA6FF;

  /* Red */
  --red-500: #D64D5B;

  /* Green */
  --green-500: #4DD67B;

  /* Yellow */
  --yellow-400: #F4DC73;

  --foreground: hsl(0 0% 95%);

}

.rank-gold {
  background: linear-gradient(135deg, hsl(45 93% 58%) 0%, hsl(40 90% 45%) 100%);
}

.rank-silver {
  background: linear-gradient(135deg, hsl(0 0% 75%) 0%, hsl(0 0% 55%) 100%);
}

.rank-bronze {
  background: linear-gradient(135deg, hsl(30 60% 50%) 0%, hsl(25 55% 40%) 100%);
}

body {
  font-family: "Sora", sans-serif;
}

@theme {
  --breakpoint-width-1120: 1120px;
  --breakpoint-width-768: 768px;
  --breakpoint-width-670: 670px;
  --breakpoint-width-640: 640px;
  --breakpoint-width-590: 590px;
  --breakpoint-width-550: 550px;
  --breakpoint-width-500: 500px;
  --breakpoint-width-450: 450px;
}